.outer__container{
  display: flex;
  background-image: url(https://marketplace.canva.com/EAFATkC6RqA/1/0/900w/canva-purple-%26-blue-gradient-phone-wallpaper-9mergJIxwDk.jpg);
  height: 800px;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  font: 1em sans-serif;
  gap: 20px;
}

.left__container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-left: 100px;
  background-color: whitesmoke;
}
.left__container h3{
  font-size: 20px;
  margin: 20px 5px 0;
  text-align: center;
}
.left__container p{
  font-size: small;
  margin-bottom: 30px;
  text-align: center;
  font: 1em sans-serif;

}
.left__container p a{
  text-decoration: none;
  font: 1em sans-serif;
}
.left__container form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left__container form div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.left__container form input{
  margin-bottom: 10px;
  padding: 8px 8px;
  background-color: white;
  width: 90%;
  border: none;
  border: 1px solid gray;
  border-radius: 3px;
  height:30px;
}
.left__container form input:focus{
  outline: 2px solid skyblue;
}
.left__container button{
  border: none;
  background: #5271ff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
  /* margin-bottom: 0px; */
}
.left__container button:hover{
  background-color: blue;
}
.left__container form a{
  text-align: center;
  padding-right: 20px;
  text-decoration: none;
  
}
.flex__container {
  display: flex;
  flex-direction: row;
  width: 94%;
  gap: 15px;
}
.left__container span{
  text-align: center;
  font-size: small;
}
.visible__container{
  
  block-size: none;
  /* background-color: black; */
  border: none;
  margin-top: -45px;
  margin-left: 440px;
  /* align-self: end; */
}
.right__container{
  margin-top: -70px;
}
.right__container h3{
  color: #cd71ff;
  margin-bottom: 10px;
}
.right__container h1{
  color:#152335;
  font-size: 50px;
  margin-bottom: 15px;
}
.right__container div p{
  color:gray;
  margin-bottom: 20px;
  line-height: 1.8;
}
.right__container button{
  border: none;
  background: #cd71ff;
  border-radius: 5px;
  padding: 10px 15px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
   
}
@media screen and (max-width: 850px){
  .right__container{
    display: none;
  }
  .left__container{
    justify-content: center;
    width: 500px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 600px){
  .left__container{
    justify-content: center;
    width: 300px;
    margin-left: 0px;
  }
  .visible__container{
    margin-left: 250px;
    
  }
}
@media (min-width: 850px) and (max-width: 900px) {
  .visible__container{
    margin-left: 250px;
    
  }
}
  @media (min-width: 900px) and (max-width: 1000px) {
    .visible__container{
      margin-left: 300px;
      
    }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .visible__container{
    margin-left: 350px;
    
  }
}
@media (min-width: 1430px) and (max-width: 1800px) {
  .visible__container{
    margin-left: 500px;
   
  }
}